body {
    font-family: Arial, sans-serif;
    background-color: #FFCA86;
}

h1, h2 {
    color: #2c3e50;
}

p {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 35px;
}

.header img {
    width: 150px;
}
